<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Upload</strong> Research Object
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-horizontal">
          <div class="card-body">                    
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="file-input">Upload File</label>
                  <div class="col-md-9">
                      <input type="file" id="file-input" name="file-input" (change)="onFileChange($event)">
                  </div>
              </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSubmitDisabled"><i
                    class=" fa fa-dot-circle-o"></i>Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>