<div class="animated fadeIn">
    <a [attr.href]="githubURL" mat-flat-button *ngIf="!githubRepos?.length > 0">
        <span> Connect to github</span>
    </a>
    <!-- <mat-progress-bar mode="query" *ngIf="!githubRepos?.length > 0 && searching"></mat-progress-bar> -->

    <div class="github-content" *ngIf="githubRepos">
        <div class="card" *ngFor="let repo of githubRepos">
            <div class="card-header">
                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <h2>{{ repo.name }}</h2>
                    </div>
                    <div class="p-2"><button type="button" class="btn btn-pill btn-primary"
                            disabled>CONTRIBUTOR</button></div>
                    <div class="p-2"><button type="button" class="btn btn-pill btn-primary pull-right"
                            disabled>CODE</button>
                    </div>
                </div>
            </div>

            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
                [collapse]="repo.isCollapsed" >
                <p>
                    {{ repo.description }}
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" (click)="toggle(repo)"> {{repo.isCollapsed ? "Expand" : "Collapse"}} </button>

                <button type="button" class="btn btn-primary" (click)="claim(repo)" [disabled]="repo.claimed">
                    {{repo.claimed ? "Claimed" : "Claim" }} </button>

            </div>
        </div>
    </div>
</div>