<div class="animated fadeIn">
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <div class="brand-icon"><i class="fa fa-facebook"></i></div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">50</div>
            <div class="text-uppercase text-muted small">RESEARCH OBJECTS</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <div class="brand-icon"><i class="ai ai-figshare ai-4x"></i></div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">30</div>
            <div class="text-uppercase text-muted small">FIGURES ADDED</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <div class="brand-icon"><i class="fa fa-github"></i></div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">20</div>
            <div class="text-uppercase text-muted small">REPOSITORIES ADDED</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->

</div>
